@using System.Configuration
@{
    ViewBag.Title = "Authentication";
}
<h1>Authentication</h1>
    
@if (String.IsNullOrWhiteSpace(ConfigurationManager.AppSettings["password"])) {
    <p>Please edit the web.config in the root directory to configure your provider(s). Once you've changed the password value there, you will be able to authenticate.</p>
}
else {
    <section class="general">
        <h2>Please provide first name and password</h2>
        @using (Html.BeginForm("Authenticate", "Home", FormMethod.Post)) {
            <input type="text" name="username" value="" placeholder="first name"/>
            <input type="password" name="password" placeholder="password"/> <input type="submit" value="Authenticate"/>
        }
    </section>
}