@using System.Configuration
@model BLocal.Web.Manager.Models.Home.ConnectionData
@{
    ViewBag.Title = "Authentication";
}
@section Head {
    <script type="text/javascript">
        $(document).ready(function() {
            $("select[name='providerConfigName']").change(function() {
                $(this).parents("form").submit();
            });
        });
    </script>
}
<h1>Authentication</h1>
    
@if (String.IsNullOrWhiteSpace(ConfigurationManager.AppSettings["password"])) {
    <p>Please edit the web.config in the root directory to configure your provider(s). Once you've changed the password value there, you will be able to authenticate.</p>
}
else {
    <section class="general">
        <h2>Please provide access password</h2>
        @using (Html.BeginForm("Authenticate", "Home", FormMethod.Post)) {
            <input type="text" name="username" value="notrequired" style="display: none;" placeholder="just here for password remember :)"/>
            <input type="password" name="password" placeholder="password"/> <input type="submit" value="Authenticate"/>
        }
    </section>
}