@using BLocal.Web
@model dynamic

@{
    Layout = null;
    // automatically fetches localization provider using IoC configured in NinjectWebCommon.cs
    var local = @Html.Local();
    const bool bLocalIsAwesome = true;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            @local.Paragraph("flar")
        </div>
        <div>
            @local.ActionLink("Demo", "Home", "demo")
        </div>
        @using (local.BeginTag("div").AttrKey("title", "testattributes").Open()){
            @local.Anchor("gotomain", "https://github.com/BackseatDevelopers/BLocal").ClassIf(bLocalIsAwesome, "yes it is").Attr("target", "_blank")
        }
    </body>
</html>