manager:
  deploydir: C:/some/folder/where-you-want-to-host-the-cms/
  customLibraries: [
    'C:/path/to/your/custom/library.dll',
    'C:/path/to/your/custom/library.pdb',
    'C:/path/to/your/custom/library/dependencies.dll',
    'C:/path/to/your/custom/library/dependencies.pdb',
  ]