
.clear {
    clear: both;
    float: none;
}
body {
    background-color: #FAFAFA;
    color: #222244;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 15px;
    line-height: 22px;
}
h1, h2 {
    color: #9999EE;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
section.general label {
    min-width: 100px;
    display: inline-block;
    margin: 5px;
}
section.general input[type=text] {
    width: 300px;
}
section.general input[type=submit] {
    margin-top: 5px;
}
.open, .collapse, .reload, .hardreload {
    cursor: pointer;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: #55BB55;
}
.open:hover, .collapse:hover, .reload:hover, .hardreload:hover {
    text-decoration: underline;
}
section.part h2 {
    font-size: 26px;
    line-height: 34px;
    cursor: pointer;
    margin: 0;
}
section.part section.part h2 {
    font-size: 22px;
    line-height: 30px;
}
section.part section.part section.part h2 {
    font-size: 18px;
    line-height: 25px;
}
section.part section.part section.part section.part h2 {
    font-size: 15px;
    line-height: 22px;
}
section.part, section.general {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #9999EE;
    border-radius: 5px;
    background-color: rgba(150, 200, 200, 0.25);
}
section.values { margin-top: 10px; }
section.values span { display: block; overflow: hidden; float: left;}
section.values .key { width: 20%; }
section.values .locale { width: 8%; overflow: hidden;height: 18px; margin-right: 1%; margin-left: 1%; }
section.values .content { width: 70%; }
section.values .clear { height: 0; width: 0; padding: 0; margin: 0; border: none; float: none; clear: both;}
    
section.values p { cursor: pointer;margin: 0;padding-top: 5px;padding-bottom: 5px;}
section.values p:hover { background-color: rgba(0, 0, 255, 0.3);}
        
section.difference {
    border-top: 1px solid white;
    padding: 5px;
}
section.difference:hover {
    background-color: rgba(100, 200, 200, 0.15);
}
section.difference.right, section.difference.left {
    background-color: rgba(0, 200, 0, 0.15);
}
section.difference.right label.right, section.difference.left label.left {
    opacity: 0.2;
}
section.comparison label.left, section.comparison label.right 
{
    display: block;
    margin: 0 1%;
    width: 48%;
    float: left;
    cursor: pointer;
}
section.comparison input {
    cursor: pointer;
}
tr.lrvalue {
    cursor: pointer;
    border-spacing:0;
    border-collapse:collapse;
}
.lrvalue p {
    margin: 0;
}
.lrvalue p.oldvalue {
    color: #e00;
}
.lrvalue p.value {
    color: #090;
}
tr.lrvalue:hover {
    background-color: rgba(100, 200, 200, 0.15);
    border-radius: 5px;
}
tr.lrvalue td {
    padding: 5px;
    border-spacing:0;
    border-collapse:collapse;
}
.missingValue {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
.missingValue:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
.missingValue h3 {
    margin: 0 0 5px 0;
}
.innerPart {
    background-color: rgba(100, 200, 200, 0.15);
    margin: 5px 5px 0 15px;
    padding: 5px;
}
.innerPart p {
    margin: 0;
    cursor: pointer;
    padding-right: 5px;
}
.innerPart p:hover {
    background-color: #4444BB;
    border-radius: 5px;
}
.innerPart span {
    text-align: right;
    display: inline-block;
    float: right;
}
.innerPart span a {
    color: #9999EE;
}
.innerPart span a:hover {
    color: lightblue;
}
div.popup {
    margin: 100px auto 0 auto;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(240, 255, 255);
    border: 1px solid #9999EE;
    width: 800px;
    min-height: 20px;
    display: none;
}
div.popup span.lbl {
    width: 256px;
    margin: 0 5px 0 5px;
    display: inline-block;
    font-weight: bold;
}
div.popup input.val {
    width: 241px;
    margin: 0 5px 0 5px;
    display: inline-block;
}
div.popup textarea {
    width: 792px;
    height: 250px;
    margin-bottom: 10px;
}
input, textarea, select {
    padding: 5px;
}
button, input[type=button], input[type=submit] {
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #9999EE;
    color: #9999EE;
    background-color: #F8F8FF;
    cursor: pointer;
}
button:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: #FFFFFF;
}
button[disabled] {
    background-color: #CCCCCC;
    border-color: #AAAAAA;
    color: #AAAAAA;
    cursor: default;
}
button[disabled]:after {
    content: "[locked]";
}
.accent {
    color: #55BB55;
}
.localepart {
    color: #225522;
    font-size: 13px;
    line-height: 19px;
}
.difference .localepart {
    margin: -10px 0 0 0;
}

.block-ui {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: wait;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}
body.busy .block-ui {
    display: block;
    z-index: 1;
}
.hidden {
    display: none;
}
ins {
    background-color: #ffa;
    text-decoration: none;
}
del {
    display: none;
}