<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="GoogleLogInEnabled" value="#{GoogleLogInEnabled}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="StandardLogInEnabled" value="#{StandardLogInEnabled}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
	<add key="GoogleOAuthCliendId" value="#{GoogleOAuthCliendId}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
  </appSettings>

  <providerGroupsConfiguration xdt:Transform="Remove" />
  <providerGroupsConfiguration xdt:Transform="InsertAfter(/configuration/appSettings)">
    <add name="Azure - Development">
      <valueProvider type="iChoosr.Localization.PackageLocalizedValueManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{Octopus.Tentacle.Agent.ApplicationDirectoryPath}\Development_env\CMSContent" />
      </valueProvider>
      <historyProvider type="iChoosr.Localization.PackageLocalizedHistoryManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{Octopus.Tentacle.Agent.ApplicationDirectoryPath}\Development_env\CMSContent" />
      </historyProvider>
      <logProvider type="BLocal.Providers.VoidLogger, BLocal, Version=1.0.0.4, Culture=neutral" />
    </add>

    <add name="Feature 01 (not used)">
      <valueProvider type="iChoosr.Localization.PackageLocalizedValueManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{Octopus.Tentacle.Agent.ApplicationDirectoryPath}\Feature01_env\CMSContent" />
      </valueProvider>
      <historyProvider type="iChoosr.Localization.PackageLocalizedHistoryManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{Octopus.Tentacle.Agent.ApplicationDirectoryPath}\Feature01_env\CMSContent" />
      </historyProvider>
      <logProvider type="BLocal.Providers.VoidLogger, BLocal, Version=1.0.0.4, Culture=neutral" />
    </add>

    <add name="Feature 02 (not used)">
      <valueProvider type="iChoosr.Localization.PackageLocalizedValueManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{Octopus.Tentacle.Agent.ApplicationDirectoryPath}\Feature02_env\CMSContent" />
      </valueProvider>
      <historyProvider type="iChoosr.Localization.PackageLocalizedHistoryManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{Octopus.Tentacle.Agent.ApplicationDirectoryPath}\Feature02_env\CMSContent" />
      </historyProvider>
      <logProvider type="BLocal.Providers.VoidLogger, BLocal, Version=1.0.0.4, Culture=neutral" />
    </add>

    <add name="Feature 03 (not used)">
      <valueProvider type="iChoosr.Localization.PackageLocalizedValueManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{Octopus.Tentacle.Agent.ApplicationDirectoryPath}\Feature03_env\CMSContent" />
      </valueProvider>
      <historyProvider type="iChoosr.Localization.PackageLocalizedHistoryManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{Octopus.Tentacle.Agent.ApplicationDirectoryPath}\Feature03_env\CMSContent" />
      </historyProvider>
      <logProvider type="BLocal.Providers.VoidLogger, BLocal, Version=1.0.0.4, Culture=neutral" />
    </add>

    <add name="Feature 04 (not used)">
      <valueProvider type="iChoosr.Localization.PackageLocalizedValueManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{Octopus.Tentacle.Agent.ApplicationDirectoryPath}\Feature04_env\CMSContent" />
      </valueProvider>
      <historyProvider type="iChoosr.Localization.PackageLocalizedHistoryManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{Octopus.Tentacle.Agent.ApplicationDirectoryPath}\Feature04_env\CMSContent" />
      </historyProvider>
      <logProvider type="BLocal.Providers.VoidLogger, BLocal, Version=1.0.0.4, Culture=neutral" />
    </add>

    <add name="Feature 05 (not used)">
      <valueProvider type="iChoosr.Localization.PackageLocalizedValueManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{Octopus.Tentacle.Agent.ApplicationDirectoryPath}\Feature05_env\CMSContent" />
      </valueProvider>
      <historyProvider type="iChoosr.Localization.PackageLocalizedHistoryManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{Octopus.Tentacle.Agent.ApplicationDirectoryPath}\Feature05_env\CMSContent" />
      </historyProvider>
      <logProvider type="BLocal.Providers.VoidLogger, BLocal, Version=1.0.0.4, Culture=neutral" />
    </add>

    <add name="IS - iChoosr/Test" color="#f90">
      <valueProvider type="BLocal.Web.Manager.Providers.RemoteAccess.RemoteAccessManager, BLocal.Web.Manager, Version=1.0.0.0, Culture=neutral">
        <!-- Add constructor parameters -->
        <add name="targetUrl" value="http://172.16.1.4:7000/RemoteAccess/" />
        <add name="targetPassword" value="#{ISCMSTestPassword}" />
        <add name="targetProviderGroup" value="iChoosr - Test" />
      </valueProvider>
      <logProvider type="BLocal.Providers.VoidLogger, BLocal, Version=1.0.0.0, Culture=neutral" />
      <historyProvider type="BLocal.Web.Manager.Providers.RemoteAccess.RemoteAccessManager, BLocal.Web.Manager, Version=1.0.0.0, Culture=neutral" isValueProvider="True" />
    </add>
    <add name="IS - iChoosr/Production" color="#e22">
      <valueProvider type="BLocal.Web.Manager.Providers.RemoteAccess.RemoteAccessManager, BLocal.Web.Manager, Version=1.0.0.0, Culture=neutral">
        <!-- Add constructor parameters -->
        <add name="targetUrl" value="http://172.16.1.2:7000/RemoteAccess/" />
        <add name="targetPassword" value="#{ISCMSProdPassword}" />
        <add name="targetProviderGroup" value="iChoosr - Production" />
      </valueProvider>
      <logProvider type="BLocal.Providers.VoidLogger, BLocal, Version=1.0.0.0, Culture=neutral" />
      <historyProvider type="BLocal.Web.Manager.Providers.RemoteAccess.RemoteAccessManager, BLocal.Web.Manager, Version=1.0.0.0, Culture=neutral" isValueProvider="True" />
    </add>
  </providerGroupsConfiguration>
</configuration>
