<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <providerGroupsConfiguration xdt:Transform="Remove" />
  <providerGroupsConfiguration xdt:Transform="InsertAfter(/configuration/appSettings)">
    <add name="iChoosr - Local">
      <valueProvider type="iChoosr.Localization.PackageLocalizedValueManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{CmsContentRootPath}" />
      </valueProvider>
      <historyProvider type="iChoosr.Localization.PackageLocalizedHistoryManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <add name="localizationRoot" value="#{CmsContentRootPath}" />
      </historyProvider>
      <logProvider type="BLocal.Providers.VoidLogger, BLocal, Version=1.0.0.4, Culture=neutral" />
    </add>
  </providerGroupsConfiguration>
</configuration>
