<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- do not remove -->
    <section name="providerPairsConfiguration" type="BLocal.Web.Manager.Configuration.ProviderPairsConfigurationSection" requirePermission="false" allowDefinition="MachineToApplication"/>
  </configSections>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="password" value="iChoosr=c00l"/>
  </appSettings>
  <!-- do not rename -->
  <providerPairsConfiguration>
    <add name="Package Provider - Local">
      <valueProvider type="iChoosr.Localization.PackageLocalizedValueManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <!-- Add constructor parameters -->
        <add name="localizationRoot" value="C:\Workspaces\iChoosr\GroupSales\Content\VersionContainer" />
      </valueProvider>
      <logProvider type="BLocal.Providers.VoidLogger, BLocal, Version=1.0.0.0, Culture=neutral" />
    </add>
    <add name="Package Provider - OtherLocal">
      <valueProvider type="iChoosr.Localization.PackageLocalizedValueManager, iChoosr.Localization, Version=1.0.0.0, Culture=neutral">
        <!-- Add constructor parameters -->
        <add name="localizationRoot" value="C:\Workspaces\iChoosr\GroupSales\Content\VersionContainer2" />
      </valueProvider>
      <logProvider type="BLocal.Providers.VoidLogger, BLocal, Version=1.0.0.0, Culture=neutral" />
    </add>
    <add name="Package Provider - OtherLocal - Remote">
      <valueProvider type="BLocal.Web.Manager.Providers.ExternalSynchronizationManager.ExternalSynchronizationManager, BLocal.Web.Manager, Version=1.0.0.0, Culture=neutral">
        <!-- Add constructor parameters -->
        <add name="targetUrl" value="http://localhost:26022/ExternalSynchronization/" />
        <add name="targetPassword" value="iChoosr=c00l"/>
        <add name="targetProviderPair" value="Package Provider - OtherLocal"/>
      </valueProvider>
      <logProvider type="BLocal.Providers.VoidLogger, BLocal, Version=1.0.0.0, Culture=neutral" />
    </add>
    <!-- add (or remove) any providers -->
  </providerPairsConfiguration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>